html {
  scroll-behavior: smooth;
}

.rounded-16 {
  border-radius: 16px;
}

.v-field__outline {
  border-radius: 16px !important;
}
body {
  background: rgba(var(--v-theme-theme-background), 1);
}

.v-container {
  max-width: unset !important;
  width: 90% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
a body,
.v-application {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
h6 {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

h2.heading {
  margin-bottom: 60px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.v-btn {
  text-transform: none !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.radius-16 {
  border-radius: 16px !important;
}

.v-btn,
.v-field__outline {
  border-radius: 16px !important;
}
