$text-classes: (
  property: font-size,
  class: text,
  values: (
    12: 12px,
    14: 14px,
    16: 16px,
    20: 20px,
    24: 24px,
    30: 30px,
    40: 40px,
  ),
);

@mixin generate-classes($config) {
  $property: map-get($config, property);
  $class-prefix: map-get($config, class);
  $values: map-get($config, values);

  @each $key, $value in $values {
    .#{$class-prefix}-#{$key} {
      #{$property}: $value;
    }
  }
}

@include generate-classes($text-classes);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

@each $key, $value in $font-weights {
  .fw-#{$key} {
    font-weight: $value;
  }
}
